<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>AfficherServlet</servlet-name>
        <servlet-class>web.AfficherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherServlet</servlet-name>
        <url-pattern>/AfficherServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AjouterServlet</servlet-name>
        <servlet-class>web.AjouterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterServlet</servlet-name>
        <url-pattern>/AjouterServlet</url-pattern>
    </servlet-mapping>

</web-app>
